---
import BaseLayout from '../layouts/BaseLayout.astro';
const base = '/robotics-portfolio';
---
<BaseLayout title="Home" base={base}>
  <h1>Hi, I'm Arnav Krishnan!</h1>
  <p>Welcome to my robotics portfolio! Use the navigation bar to learn more about me, or see my projects.</p>
</BaseLayout>
