---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Projects">
  <h1>Projects</h1>
  <ul>
    <li><a href="/projects/test-board">Test Board</a></li>
  </ul>
</BaseLayout>
