---
import Navbar from './Navbar.astro';
import Footer from './Footer.astro';

const { title, base } = Astro.props;
const currentPath = Astro.url.pathname;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href={`${base}/favicon.svg`} />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <Navbar base={base} currentPath={currentPath} />
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <Footer />
    </footer>
  </body>
</html>